@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #93c5fd; /* Light blue-300 */
  border-radius: 10px;
  border: 2px solid #bfdbfe; /* Lighter blue-200 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #60a5fa; /* Blue-400 */
}

::-webkit-scrollbar-track {
  background-color: #dbeafe; /* Very light blue-100 */
  border-radius: 10px;
}